body {
    font-family: Verdana,sans-serif;
    font-size: 0.9em;
}

header, footer {
    padding: 10px;
    color: white;
    background-color: black;
    clear: both;
}

section {
    width: 75%;
    float: left;
}

aside {
    width: 25%;
    float: left;
    background-color: red;
    text-align: center;
    height: 350px;
}

nav ul li {
    display: inline;
    margin: 5px;
}