* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    display: grid;
    grid-template-areas:
        'left_header header right_header'
        'left_side content right_side';
    grid-template-columns: 25% 50% 25%;
}

.left-header {grid-area: left_header}
.header {grid-area: header}
.right-header {grid-area: right_header}
.left-side {grid-area: left_side}
.right-side {grid-area: right_side}
.content {grid-area: content}

.left-header, .header, .right-header {
    background-color: white;
    position: sticky;
    top: 0px;
}

.left-header input {
    width: 70%;
    position: relative;
    bottom: 10px;
    margin-left: 10px;
    border-radius: 20px;
    height: 30px;
}

.logo-fb {
    width: 35px;
    height: 35px;
    margin-left: 10px;
    margin-top: 15px;
}

.header{
    margin: auto;
}

ul {
    margin-top: 15px;
}

header ul {
    width: 100%;
}

ul li {
    width: 15%;
}

li .icon {
    width: 70%;
    height: 40px;
}

li .icon-home {
    width: 80%;
    height: 40px;
}

li:hover{
     background-color: lightgrey;
     border-radius: 10px;
 }

.menu:hover {
    background-color: lightgrey;
}
li {
    float: left;
    display: block;
    list-style: none;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
}

.menu {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
}

.left-side,.right-side,.content {
    background-color: #f0f2f5;
    height: 700px;
}

.img_side {
    margin-top: 20px;
}


.left-side .sidebar {
    width: 70%;
    display: inline-block;
    position: relative;
    bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}
